$primary-color: #ffc107;
$white-color: #fff;
$black-color: #222;
$dark-color: rgba(0, 0, 0, 0.4);
$secondary-color: rgba(0, 0, 0, 0.32);
$gray-color: #a0a0a0;

p {
  font-size: 18px;
  color: $white-color;
}

.link {
  color: $white-color;
  cursor: pointer;
  &:hover {
    color: $primary-color;
    text-decoration: none;
 }
}

.link-black {
  color: $black-color;
  cursor: pointer;
  &:hover {
    color: $primary-color;
    text-decoration: none;
 }
}

.hover {
  &:hover {
    color: $primary-color;
  }
}

.bg-black {
  background-color: $dark-color;
}

.bg-primary {
  background-color: $primary-color;
}

.text-secondary {
  color: $secondary-color;
}

.text-gray {
  color: $gray-color;
}

.text-primary {
  color: $primary-color;
}

@mixin size($width, $height) {
  width: $width;
  height: $height;
}

.card-200 {
  @include size(200px, 200px);
}

.card-210-118 {
  @include size(210px, 118px);
}

.pointer {
  cursor: pointer;
}

// scale: scale-11 -> scale-20
$i: 10;
@while $i > 0 {
  .scale-#{10 + $i} {
    transition: all 500ms ease-out;
    &:hover {
      transform: scale(#{1 + $i / 10}, #{1 + $i / 10});
    }
  }
  $i: $i - 1;
}

$i: 10;
@while $i > 0 {
  .opacity-#{$i} {
    &:hover {
      opacity: 1;
      cursor: pointer;
      background-color: rgba(9,7,13,.4);
    }
  }
  $i: $i - 1;
}

// font-size 12 -> 30
$i: 30;
@while $i > 11 {
  .font-size-#{$i} {
    font-size: #{$i + px};
  }
  $i: $i - 1;
}

// artist
.artist-avatar {
  width: 200px;
  height: 200px;
  transition: all 500ms ease-out;
  &:hover {
    opacity: 0.7;
    transform: scale(1.1, 1.1);
  };
}
